<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codingergo.myproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/net"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Demo.pusher" />
        <activity android:name=".SuperAdminManager.SuperAdminHome" />
        <activity android:name=".NotesManager.NotesDownloader" />
        <activity android:name=".NotesManager.NotesUploader" />
        <activity android:name=".EventManager.EventList" />
        <activity android:name=".Assignment.DrillsExtended" />
        <activity android:name=".NotesManager.notes_list" />
        <activity android:name=".Assignment.AssignView" />
        <activity android:name=".FacultyList.addFaculty" />
        <activity android:name=".NoticeBoard.noticeBoardExtended" />
        <activity android:name=".PhotoGallery.GalleryExtended" />
        <activity android:name=".MoreButton.moreButton" />
        <activity android:name=".StudentDashboard.studentdashboard" />
        <activity android:name=".Assignment.Assignment" />
        <activity android:name=".StudentList.studentList" />
        <activity android:name=".FacultyList.FacultyListHod" />
        <activity android:name=".PhotoGallery.galleryMain" />
        <activity android:name=".AboutDev.developer" />
        <activity android:name=".NoticeBoard.PDFViewer" />
        <activity android:name=".NoticeBoard.noticeBoard" />
        <activity android:name=".UserManager.forgotPass" />
        <activity android:name=".Garbage.imagedemo" />
        <activity android:name=".TeachersDashboard.DashBoard" />
        <activity android:name=".UserManager.Profile" />
        <activity
            android:name=".UserManager.SignUp"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Main.home"
            android:theme="@style/mainTheme" />
        <activity
            android:name=".UserManager.MainActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            android:usesCleartextTraffic="true" />
    </application>

</manifest>