<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codingergo.myproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/net"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".studentDashboard.studentdashboard"></activity>
        <activity android:name=".Assignment.Assignment" />
        <activity android:name=".studentList.studentList" />
        <activity android:name=".facultyList.facultyList" />
        <activity android:name=".photoGallery.galleryMain" />
        <activity android:name=".AboutDev.developer" />
        <activity android:name=".noticeBoard.PDFViewer" />
        <activity android:name=".noticeBoard.noticeBoard" />
        <activity android:name=".users.forgotPass" />
        <activity android:name=".Garbage.imagedemo" />
        <activity android:name=".Cs_Dashboard.DashBoard" />
        <activity android:name=".users.Profile" />
        <activity
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:name=".users.SignUp" />
        <activity
            android:name=".Main.home"
            android:theme="@style/mainTheme" />
        <activity
            android:name=".users.MainActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            android:usesCleartextTraffic="true" />
    </application>

</manifest>